.search-input {
    font-family: 'Quicksand', sans-serif;
    border-radius: 8px;
    background: #ededed;
    border: none;
    width: 240px;
    height: 24px;
    text-align: center;
    font-weight: 600;
    transition: .5s ease-in-out;
    font-size: 14px;
}
.search-bar-container input:hover {
    box-shadow: 0px 0px 10px #FFFFFC;
}
.search-bar-container input:focus {
    outline: none;
    box-shadow: 0px 0px 10px #FFFFFC;
}

.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar-container button {
    border: none;
    color: #FFFFFC;
    padding: 0;
    margin: 8px 0 0 8px;
    font-size: 24px
}