.header {
    text-align: left;
    background: #191716;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 74px;
    z-index: 10;
}

.header img {
    padding: 0 0 6px 24px;
    width: 100px;
    height: 100px;
}

.icon{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    margin-right: 8px;
    justify-content: center;
    border-radius: 50%;
    color: #e78504;
    transition: .3s ease-in-out;
}

.navigation-container {
    font-size: large;
}

.navigation-elements {
    color: #f8f8f8;
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
}

a {
    position: relative;
    color: #e78504;
    text-decoration: none;
}

a:hover {
    color: #e78504;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e78504;
    transform: scaleX(0);
    transition: transform 0.1s ease;
}

a:hover::before {
    transform: scaleX(1);
}

.active-link {
    text-decoration: underline;
    color: #e78504;
    text-underline-offset: 2px;
}

.shopping-cart {
    right: 64px;
}

.search-bar {
    right: 264px;
}

.hamburguer-menu {
    display: flex;
    right: 0;
}

.search-icon {
    display: none;
}

@media (max-width: 480px) {
    .search-bar {
        display: none;
    }
    .search-icon {
        display: flex;
        right: 130px;
    }
}
